AddDefaultCharset utf-8
Options +FollowSymLinks
Options -Indexes

<IfModule mod_rewrite.c>

    RewriteEngine on


    ## Don't work
    #RewriteCond %{REQUEST_URI} ^/public/(.*)$ [NC]
    #RewriteRule ^public/(.*)$ http://%{HTTP_HOST}/$1 [L,R=301]


    ## If rewrite rule pattern match with real existing directory...
    #RewriteCond %{DOCUMENT_ROOT}/public -d
    RewriteCond %{REQUEST_URI} ^/(ru|en|de|es)$
    RewriteRule ^ /public/index.php [L]

    ## Static files
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f [OR]
    RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -d
	RewriteRule (.*) /public/$1 [L]

    ## Dynamic
    #RewriteCond %{DOCUMENT_ROOT}/public -d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d [OR]
    RewriteCond %{REQUEST_URI} ^/$
    RewriteRule ^ /public/index.php [L]

    ### Old rules ###
	## project.dev.grapheme.ru
    #RewriteCond %{DOCUMENT_ROOT}/public -d
	#RewriteRule (.*) /public/$1 [L]

</IfModule>

php_value upload_max_filesize 10M

##
## Disable Apache server authorisation for subdirectory
## http://www.shkodenko.kiev.ua/index.php?lang_id=1&content_id=223
##
#Satisfy Any
#Allow from all
