extends layout


block content

	.header-img-holder
		.inner-wrapper
			.header

				ul.main-menu
					li.main.active
						a(href="/") PC Главная
					li.about
						a(href="/about.html") Об игре
					li.media
						a(href="/media.html") Медиа
					li.forum
						a(href="#") Форум
					li.mobile
						a(href="#") Мобайл

				a.logo(href="/")

				a.play-button(href="/")
			.inner-page-menu
			.inner-content

				.features-block 
					p <a href="#">Tank Domination</a> - это бесплатная многопользовательская экшн-игра, которая погрузит вас в самую гущу захватывающих и яростных танковых сражений!

						a.fancybox.about-image
							img(src="./images/about-image.jpg")

					p 2023 год. Власть над миром прибрали к рукам глобальные корпорации, по всей планете развязавшие беспощадную борьбу за ресурсы. Закон и порядок остались в прошлом, лишь одно право теперь имеет значение - право сильного.

					p В распоряжении каждой корпорации своя армия профессиональных наемников. Вы – один из них. Выбирайте бронемашину по своему вкусу, модифицируйте и оборудуйте ее всевозможными спецсредствами для получения преимущества над врагом и отправьтесь в бой, чтобы продемонстрировать свои навыки и разгромить врага!

				.features-block 
					h3 Особенности
					ul.features
						li игра для планшетов iPad, начиная с версии 2 и выше (в недалеком будущем выйдет версия для устройств под управлением операционной системы Android).
						li танковые сражения в реальном времени
						li детальная и реалистичная 3D-графика
						li разрушаемое окружение: стены, постройки, разные виды техники и многие другие объекты можно таранить и взрывать 
						li командные бои 10 на 10 участников, сочетающие в себе увлекательность тактической стратегии и азарт экшена
						li 30 видов техники, включая сверхразрушительную самоходную артиллерию
						li 3 типа снарядов: кумулятивные, бронебойные и осколочно-фугасные
						li широкие возможности улучшения: двигатель, гусеницы, башню, пушку и другие элементы можно модифицировать, повышая боевые характеристики танка
						li большой арсенал спецсредств: аптечки, ремкомплекты, активная броня, маскировочные сети, мины, маневровые компенсаторы, глушители связи, шумоподавители и многое другое
						li система быстрых сообщений, позволяющая координировать действия с соратниками
						li разные модели управления танком, которые настраиваются по желанию игрока и подходят для любого стиля игры.
			
			.footer.inner-footer 
				.footer-block
					h3.orange Pixel Gun 3D
					
					ul
						li
							a(href="#") Скачать игру
						li
							a(href="#") Регистрация
						li
							a(href="/about.html") Об игре
						li
							a(href="/faq.html") F.A.Q.
						li
							a(href="#") Wiki

				.footer-block
					h3.yellow Сообщество
					
					ul
						li
							a(href="#").forum Форум
						li
							a(href="#").vk Вконтакте
						li
							a(href="#").fb Facebook
						li
							a(href="#").tw Twitter

				.footer-block
					h3.green О нас
					
					ul
						li
							a(href="#") Сайт компании
						li
							a(href="#") Вакансии

				.footer-block.help
					h3.blue Поддержка
					
					ul
						li
							a(href="#") Центр поддержки
						li
							a(href="#") Пользовательское соглашение
						li
							a(href="#") Политика конфиденциальности
				.footer-copyright
					a(href="#")
						img(src="./images/logo-copyright.png")
					p Copyright 2012-2015 LLC Rilisoft ©
					p Все права защищены.