extends layout


block content

	.header-img-holder
		.inner-wrapper
			.header

				ul.main-menu
					li.main.active
						a(href="/") PC Главная
					li.about
						a(href="#") Об игре
					li.media
						a(href="#") Медиа
					li.forum
						a(href="#") Форум
					li.mobile
						a(href="#") Мобайл

				a.logo(href="/")

				a.play-button(href="/")
			.inner-page-menu
			.inner-content
				.faq-about
					p В разделе <a href="/faq.html">F.A.Q</a>. собраны часто задаваемые по игре вопросы и ответы на них. Если у вас во время игры возникло какое-либо затруднение, то сначала рекомендуем поискать решение в этом разделе. В большинстве случаев, вы найдете ответ на возникший у вас вопрос.

				ul.question-list
					li
						h3 Какой вид является основным в игре? Насколько сложно управление?
						p Основной вид в игре – от третьего лица, а также «гаубичный» режим для дальнобойной артиллерии, в котором карта просматривается с высоты птичьего полета с возможностью приближения/ удаления камеры от поверхности земли. В игре задействовано стандартное управление посредством 2 джойстиков-манипуляторов. Игрок может сам выбрать тип управления танком, пушкой и стрельбой на свой вкус. Кроме того, игроки могут пользоваться «круиз-контролем» для движения вперед.
					li
						h3 Сколько в среднем длится одно сражение?
						p На каждое сражение уходит от 5 до 20 минут. Если по истечении 20 минут на поле боя осталась бронетехника от каждой из сторон и ни одна из баз не захвачена, объявляется ничья.
					li
						h3 Присутствует ли в игре маскировка?
						p Маскировка присутствует. Кусты и стены – лучшее средство, чтобы спрятаться от противника. Маскирующийся танк может «выдать» себя и сам, начав движение или открыв огонь. При этом становится виден его силуэт. Кроме того, в игру введены специальные камуфляжи для танков, которые также добавляют процент к незаметности. Еще в игре присутствуют прочие расходные приспособления, снижающие шумность и заметность техники.
					li
						h3 Какие виды снарядов доступны в игре?
						p В зависимости от установленной пушки и используемых снарядов игроки могут покупать для своих машин осколочно-фугасные, кумулятивные или подкалиберные снаряды.
					li
						h3 Какой вид является основным в игре? Насколько сложно управление?
						p Основной вид в игре – от третьего лица, а также «гаубичный» режим для дальнобойной артиллерии, в котором карта просматривается с высоты птичьего полета с возможностью приближения/ удаления камеры от поверхности земли. В игре задействовано стандартное управление посредством 2 джойстиков-манипуляторов. Игрок может сам выбрать тип управления танком, пушкой и стрельбой на свой вкус. Кроме того, игроки могут пользоваться «круиз-контролем» для движения вперед.
					li
						h3 Сколько в среднем длится одно сражение?
						p Основной вид в игре – от третьего лица, а также «гаубичный» режим для дальнобойной артиллерии, в котором карта просматривается с высоты птичьего полета с возможностью приближения/ удаления камеры от поверхности земли. В игре задействовано стандартное управление посредством 2 джойстиков-манипуляторов. Игрок может сам выбрать тип управления танком, пушкой и стрельбой на свой вкус. Кроме того, игроки могут пользоваться «круиз-контролем» для движения вперед.

			.footer.inner-footer 
				.footer-block
					h3.orange Pixel Gun 3D
					
					ul
						li
							a(href="#") Скачать игру
						li
							a(href="#") Регистрация
						li
							a(href="#") Об игре
						li
							a(href="/faq.html") F.A.Q.
						li
							a(href="#") Wiki

				.footer-block
					h3.yellow Сообщество
					
					ul
						li
							a(href="#").forum Форум
						li
							a(href="#").vk Вконтакте
						li
							a(href="#").fb Facebook
						li
							a(href="#").tw Twitter

				.footer-block
					h3.green О нас
					
					ul
						li
							a(href="#") Сайт компании
						li
							a(href="#") Вакансии

				.footer-block.help
					h3.blue Поддержка
					
					ul
						li
							a(href="#") Центр поддержки
						li
							a(href="#") Пользовательское соглашение
						li
							a(href="#") Политика конфиденциальности
				.footer-copyright
					a(href="#")
						img(src="./images/logo-copyright.png")
					p Copyright 2012-2015 LLC Rilisoft ©
					p Все права защищены.