<IfModule mod_rewrite.c>

	<IfModule mod_negotiation.c>
    	Options -MultiViews
    </IfModule>

    RewriteEngine On

    ### Old rules ###
    # Redirect Trailing Slashes...
	#RewriteRule ^(.*)/$ /$1 [L,R=301]

	# project.dev.grapheme.ru
    #RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^ /index.php [L]

</IfModule>


